{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">BGP Community Group</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <!-- Must use .all because I can't iterate it like I normall would -->
              <th scope="row">Devices</th>
              <td> {% for device in object.devices_list.all %}
                <a href="{{ device.get_absolute_url }}">{{ device }}</a>{% if not forloop.last %}<br />{% endif %}
             {% empty %}
                &mdash;
             {% endfor %}</td>
            </tr>
            <tr>
              <th scope="row">Community Count</th>
              <td>{{ object.communities.count }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Attached Communities</h5>
        <div class="card-body table-responsive">
          {% render_table communities_table %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}